:root{
    --deathknight : #C41F3B;
    --demonhunter : #A330C9;
    --druid       : #FF7D0A;
    --hunter      : #ABD473;
    --mage        : #69CCF0;
    --monk        : #00FF96;
    --paladin     : #F58CBA;
    --priest      : #FFFFFF;
    --rogue       : #FFF569;
    --shaman      : #0070DE;
    --warlock     : #9482C9;
    --warrior     : #C79C6E;

    --artifact     : rgb(229,204,128);
    --astounding   : rgb(226,104,168);
    --legendary    : rgb(255,128,0);
    --epic         : rgb(163,53,238);
    --rare         : rgb(0,112,255);
    --uncommon     : rgb(30,255,0);
    --common       : #666;
}

.userscript-wowprogress-character-page{
     html, body, div, span, applet, object, iframe,
     h1, h2, h3, h4, h5, h6, p, blockquote, pre,
     a, abbr, acronym, address, big, cite, code,
     del, dfn, em, img, ins, kbd, q, s, samp,
     small, strike, strong, sub, sup, tt, var,
     b, u, i, center,
     dl, dt, dd, ol, ul, li,
     fieldset, form, label, legend,
     table, caption, tbody, tfoot, thead, tr, th, td,
     article, aside, canvas, details, embed,
     figure, figcaption, footer, header, hgroup,
     menu, nav, output, ruby, section, summary,
     time, mark, audio, video{
        background: none;
        outline: none;
        border: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;

        color: white;
        font-size: 15px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-align: left;
        vertical-align: baseline;
    }

    a{
        color: white;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }

    .flex-hgap{
        display: flex;
        gap: $padding;
    }

    .flex-vgap{
        display: flex;
        flex-direction: column;
        gap: $padding;
    }

    .flex-1{
        flex: 1;
    }

    aside.notice{
        @extend .flex-vgap;
        padding: $padding;

        ul{
            padding-left: $padding;
        }

        &.warning{
            background: black;
        }
        &.error{
            background: #300a0e;
        }
    }

    button.btn{
        background: #333;
        border: $border;
        color: white;
        cursor: pointer;
        display: block;
        padding: math.div($padding, 2) $padding;
        transition: 0.25s;

        &:hover{
            background: #222;
        }

        &.active{
            border-color: white;
            background: #111;
        }
    }
}
