:root{
    --deathknight : #C41F3B;
    --demonhunter : #A330C9;
    --druid       : #FF7D0A;
    --hunter      : #ABD473;
    --mage        : #69CCF0;
    --monk        : #00FF96;
    --paladin     : #F58CBA;
    --priest      : #FFFFFF;
    --rogue       : #FFF569;
    --shaman      : #0070DE;
    --warlock     : #9482C9;
    --warrior     : #C79C6E;

    --artifact     : rgb(229,204,128);
    --astounding   : rgb(226,104,168);
    --legendary    : rgb(255,128,0);
    --epic         : rgb(163,53,238);
    --rare         : rgb(0,112,255);
    --uncommon     : rgb(30,255,0);
    --common       : #666;
}
